body {
    margin: 0;
    padding: 0;
    font: 12px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,微软雅黑,宋体,sans-serif;
    background: $cf-gray;
}
* {
    margin: 0;
    padding: 0;
}
ul,ol,li {
    list-style: none;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.container {
    width: 1120px;
    margin: 0 auto;
}
.main .container {
    width: 1100px;
}
.footer .container {
    width: 1100px;
}
html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"] {
    font: 12px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,微软雅黑,宋体,sans-serif;

}
.hide {
    display: none !important;
    visibility: hidden !important;
}
.show {
    display: block !important;
    visibility: visible !important;
}
.clearfix {
    overflow: hidden;
    *zoom: 1;
}
.box-shadow {
    @include box-shadow($cf-border-gray 0 0 3px);
}
.img img {
    display: block;
}
.cf-font {
    font-family: 微软雅黑,sans-serif;
}
body.product-detail {
    padding-bottom: 70px;
}
.w {
    margin-top: 15px;
    margin-bottom: 15px;
}
.nowrap {
    white-space: nowrap;
}
a {
    text-decoration: none;
    color: #666;
}
.border-top-radius {
    @include border-top-radius(4px);
}
.border-bottom-radius {
    @include border-bottom-radius(4px);
}
.pdm {
    padding: 10px;
}
.bdb {
    border-bottom: 1px solid #e6e6e6;
}
.pdb {
    padding-bottom: 10px;
}
.pdv {
    padding-top: 10px;
    padding-bottom: 10px;
}
.mgv {
    margin-top: 10px;
    margin-bottom: 10px;
}
.input[type="text"] {
    @include box-sizing(content-box);

}
