.header-logo {
    .logo {
        margin-top: 35px;
        margin-bottom: 35px;
        img {
            margin-left: 10px;
        }
    }
    .search {
        margin-top: 35px;
        form {
            margin-right: 10px;
        }
    }
}