.checkout {
    .main {}
    .menu-list {
        display: none;
    }
}

.content-error {}

.checkout-wrapper {
    margin-top: 15px;
    position: relative;
    .checkout-step {
        .step-header {
            line-height: 25px;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 14px;
            position: relative;
            @at-root .greyed-out {
                @include opacity(0.4);
            }
            .step {
                width: 25px;
                height: 25px;
                font-size: 12px;
                overflow: hidden;
                @include inline-block;
                vertical-align: middle;
                position: relative;
                top: 2px;
                left: -5px;
                &.step-1 {
                    background: url(../images/counter-1.png) no-repeat;
                }
                &.step-2 {
                    background: url(../images/counter-2.png) no-repeat;
                }
                &.step-3 {
                    background: url(../images/counter-3.png) no-repeat;
                }
                &.step-4 {
                    background: url(../images/counter-4.png) no-repeat;
                }
                &.step-5 {
                    background: url(../images/counter-5.png) no-repeat;
                }
                &.step-6 {
                    background: url(../images/counter-6.png) no-repeat;
                }
            }
            .step-title {
                @include inline-block;
                font-size: 24px;
                line-height: 25px;
                font-weight: normal;
                vertical-align: middle;
            }
        }
        .shipping-edit-button {
            position: absolute;
            right: 0;
            margin-right: 24px;
            top: 20px;
            font-size: 13px;
            line-height: 15px;
            padding: 9px 28px;
            display: none;
        }
        @at-root .step-content {
            margin-top: 12px;
            margin-left: 14px;
            margin-right: 13px;
            padding-top: 9px;
            border-top: 1px solid #d5d5d5;
            padding-bottom: 14px;
            display: none;
            .step-mode {
                padding-top: 14px;
                padding-right: 0;
                padding-left: 26px;
                padding-bottom: 15px;
                .step-summary {
                    display: none;
                    h3, input {
                        @include inline-block;
                        font-size: 12px;
                        line-height: 20px;
                        padding: 0;
                        margin: 0;
                        border: 0;
                        background: none;
                    }
                    h3 {
                        height: 24px;
                        font-weight: bold;
                    }
                    input {
                        display: block;
                        height: 24px;
                        width: 100%;
                    }
                }
                &.payment-step {
                    border-bottom: 1px solid #ccc;
                    position: relative;
                }
                fieldset {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    legend {
                        font-size: 12px;
                        padding-bottom: 5px;
                        font-weight: bold;
                        &.payment-legend {}
                    }
                    .payment-type {
                        margin-left: 9px;
                        @include inline-block;
                        ul {
                            @include inline-block;
                            li {
                                @include inline-block;
                                padding-left: 12px;
                                padding-right: 12px;
                                border-left: 1px solid #ccc;
                                a {
                                    text-decoration: none;
                                    &.curr {
                                        color: #666;
                                    }
                                }
                            }
                        }
                    }
                    .fieldset-content {
                        margin-bottom: 14px;
                        margin-left: 11px;
                        padding-top: 5px;
                        padding-left: 15px;
                        padding-right: 15px;
                        .tips {
                            p {
                                margin-bottom: 10px;
                            }
                        }
                        @at-root .inputs {
                            margin-bottom: 10px;
                            .field-with-placeholder {
                                padding-right: 4px;
                                @include inline-block;
                                position: relative;
                                font-size: 12px;
                                .placeholder {
                                    padding: 7px 4px 10px 8px;
                                    overflow: hidden;
                                    color: #999;
                                    position: absolute;
                                    pointer-events: none;
                                    font-size: 12px;
                                    transition: color 200ms linear 0s;
                                }
                                input {
                                    width: 310px;
                                    border: 1px solid #d6d6d6;
                                    @include box-shadow(0 1px 1px #aaa inset);
                                    font-size: 12px;
                                    height: 24px;
                                    text-indent: 4px;
                                    background: #fff;
                                    @include border-radius(4px);
                                    padding: 3px 2px;
                                    color: #333;
                                    padding-left: 66px;
                                    &.info-address {
                                        padding-left: 100px;
                                        width: 276px;
                                    }
                                }
                                button {
                                    margin-right: 10px;
                                    padding-top: 9px;
                                    padding-bottom: 9px;
                                    padding-left: 28px;
                                    padding-right: 28px;
                                    line-height: 15px;
                                    font-size: 13px;
                                }
                            }
                        }
                        &.option-list {
                            margin-left: 0;
                            padding-right: 0;
                            margin-bottom: 0;
                            @at-root .card-option {
                                @include inline-block;
                                height: 24px;
                                line-height: 24px;
                                vertical-align: top;
                                padding-left: 20px;
                                padding-right: 0;
                                padding-top: 6px;
                                padding-bottom: 6px;
                                position: relative;
                                width: 140px;
                                cursor: default;
                                input {
                                    position: absolute;
                                    top: 12px;
                                    left: 0px;
                                }
                            }
                            @at-root .want-space {
                                height: 81px;
                                display: none;
                            }
                        }
                        .option-content {
                            .installment-period {
                                h4 {
                                    margin-bottom: 5px;
                                }
                                .options-list {
                                    .installment-option {
                                        padding-top: 6px;
                                        padding-bottom: 6px;
                                        cursor: default;
                                    }
                                }
                            }
                            .installment-details {
                                h4 {
                                    margin-bottom: 5px;
                                }
                                .installment-details-content {
                                    padding-top: 6px;
                                    padding-bottom: 6px;
                                    padding-right: 10px;
                                }
                            }
                            .tooltip {
                                position: relative;
                                margin-left: -15px;
                                .tooltip-arrow {
                                    border: 0;
                                    background: url("../../images/popup-bubble-top.png") no-repeat;
                                    width: 26px;
                                    height: 15px;
                                    top: 5px;
                                }
                                .tooltip-inner {
                                    text-align: left;
                                    background: #f1f1f1 url("../images/popup-wdgt-bg.png") repeat-x;
                                    color: #333;
                                }
                            }
                        }
                        .more-option {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        @at-root .box {
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            @include box-shadow(1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #d2d2d2, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6);
            outline: 0;
            background: #fff;
            min-height: 52px;
            position: relative;
            @at-root .car-product-list {
                padding-top: 0;
                padding-left: 4px;
                padding-bottom: 4px;
                padding-right: 14px;
                .cart-product {
                    border-top: 1px solid #d5d5d5;
                    &:first-child {
                        border-top: 0;
                    }
                    .product-image {
                        .image-wrap {
                            margin-right: 10px;
                            margin-top: 12px;
                            img {
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                    .product-info {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        .product-title {
                            h3 {
                                font-size: 16px;
                                color: #1a1a1a;
                                line-height: 24px;
                            }
                        }
                        .product-price {
                            font-size: 14px;
                            color: #1a1a1a;
                            text-align: right;
                            @include inline-block;
                            vertical-align: baseline;
                            line-height: 24px;
                            font-weight: bold;
                            span {
                                @include inline-block;
                                margin-left: 5px;
                            }
                            sub {
                                bottom: 0;
                            }
                        }
                    }
                }
            }
            &.frist {
                @include border-top-left-radius(4px);
                @include border-top-right-radius(4px);
            }
        }
        .cart-product {
            position: relative;
            padding-top: 9px;
            padding-bottom: 11px;
            .product-body {
                border: 1px solid #d8d8d8;
                margin-top: 4px;
                margin-bottom: 7px;
                @include border-radius(4px);
                @include background(linear-gradient(center top, #fff 0px, #f0f0f0 70%, #f0f0f0 100%));
                ul {
                    padding-left: 15px;
                    padding-bottom: 14px;
                    padding-top: 12px;
                    padding-right: 0;
                    li {
                        sub {
                            bottom: 0;
                        }
                        span {
                            @include inline-block;
                            line-height: 12px;
                            font-size: 12px;
                            &.package {
                                margin-left: 7px;
                                padding-left: 7px;
                                padding-right: 10px;
                                border-left: 1px solid #c2c2c2;
                            }
                        }
                    }
                }
            }
        }
        @at-root .purchase-totals-box {
            padding-top: 15px;
            @include border-bottom-left-radius(4px);
            @include border-bottom-right-radius(4px);
            .purchase-totals {
                text-align: right;
                .order-summary {
                    margin-right: 15px;
                    margin-bottom: 10px;
                    ul {
                        li {
                            line-height: 28px;
                            &.total {
                                color: #ff1200;
                                font-weight: bold;
                                border-bottom: 1px solid #ccc;
                                sub {
                                    bottom: 0;
                                }
                            }
                            &.down-payment {
                                font-size: 16px;
                                font-weight: bold;
                                padding-top: 8px;
                                sub {
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
            .order-footer {
                min-height: 40px;
                margin-left: -10px;
                margin-right: -10px;
                @include background(linear-gradient(center top, #fff 0px, #f0f0f0 70%, #f0f0f0 100%));
                @include border-bottom-radius(4px);
                border-top: 1px solid #ccc;
                .purchase-buy {
                    text-align: right;
                    #place-order-button {
                        margin-top: 15px;
                        margin-bottom: 15px;
                        margin-right: 24px;
                        font-size: 14px;
                        line-height: normal;
                    }
                }
            }
            &.box {
                /*@include box-shadow(0 1px 0 rgba(0,0,0,0.4));*/
            }
        }
    }
}

.step-continue {
    margin-left: -10px;
    margin-right: -10px;
    background: url("../../images/step-continue.png") repeat-x left bottom;
    border-bottom: 1px solid #d5d5d5;
    display: none;
    .continue-content {
        border-top: 1px solid #d5d5d5;
        height: 34px;
        padding-top: 14px;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
        @include box-sizing(content-box);
        .continue-info {
            .save-address {
                position: relative;
                margin-top: 9px;
                margin-left: 54px;
                padding-left: 20px;
                color: #666;
                input {
                    position: absolute;
                    left: 0;
                    top: 3px;
                }
            }
        }
        .continue-go {
            text-align: right;
            button {
                font-size: 13px;
                line-height: 15px;
                padding-top: 9px;
                padding-bottom: 9px;
                padding-left: 28px;
                padding-right: 28px;
            }
        }
    }
}

#payment-box {
    .fieldset-content {
        margin-left: 0;
        padding-right: 0;
    }
    .tooltip {
        .tooltip-inner {
            padding-top: 30px;
            padding-left: 15px;
            padding-right: 20px;
            padding-bottom: 15px;
            li {
                padding-top: 6px;
                padding-bottom: 6px;
                input {
                    margin-right: 10px;
                }
            }
            h4 {
                margin-bottom: 5px;
            }
        }
        &.tooltip-payment {
            display: none;
        }
        &.tooltip-0 {
            display: block;
            .tooltip-arrow {
                left: 12px;
            }
        }
        &.tooltip-1 {
            display: block;
            .tooltip-arrow {
                left: 176px;
            }
        }
        &.tooltip-2 {
            display: block;
            .tooltip-arrow {
                left: 341px;
            }
        }
        &.tooltip-3 {
            display: block;
            .tooltip-arrow {
                left: 505px;
            }
        }
        &.tooltip-4 {
            display: block;
            .tooltip-arrow {
                left: 670px;
            }
        }
        &.tooltip-5 {
            display: block;
            .tooltip-arrow {
                left: 833px;
            }
        }
        &.tooltip-6 {
            display: block;
            .tooltip-arrow {
                left: 12px;
            }
        }
        &.tooltip-7 {
            display: block;
            .tooltip-arrow {
                left: 12px;
            }
        }
        &.tooltip-8 {
            display: block;
            .tooltip-arrow {
                left: 176px;
            }
        }
        &.tooltip-9 {
            display: block;
            .tooltip-arrow {
                left: 341px;
            }
        }
    }
}

#shipping-box {
    .fieldset-content {
        margin-left: 0;
        .option-list {
            li {
                line-height: 25px;
                padding-left: 20px;
                position: relative;
                cursor: default;
                input {
                    position: absolute;
                    top: 7px;
                    left: 0;
                }
            }
        }
    }
}

#cash-on-delivery {
    border-bottom: 0;
}

#other-pay {
    border-bottom: 0;
}
