.seckill-banner {
    min-width: 1200px;
    min-height: 171px;
    overflow: hidden;
    background: #fc4d6e url("../../images/limittime.jpg") top center no-repeat;
}

.left-time {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 30px;
    font-size: 18px;
    background: #fff;
    .container {
        width: 1100px;
    }
}

.seckill-list {
    .seckill-item {
        padding: 20px;
        @include border-radius(4px);
        @at-root .seckill-img {
            .img-box {
                background: #f5f5f5;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        @at-root .seckill-txt {
            font-size: 18px;
            .seckill-timeleft {
                margin-left: 35px;
                font-size: 18px;
            }
            .hr {
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 35px;
            }
            .title {
                font-size: 22px;
                margin-left: 35px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .details {
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 35px;
                font-size: 14px;
                line-height: 25px;
            }
            .havebg {
                background: url(../../images/seckill-txtbg.png) top right no-repeat;
                height: 62px;
                overflow: hidden;
                margin-right: -20px;
                line-height: 62px;
                color: #fff;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .price {
                margin-left: 35px;
                margin-top: 20px;
                margin-bottom: 0;
                height: 40px;
                line-height: 20px;
                label {
                    line-height: 24px;
                    height: 20px;
                    display: block;
                    font-size: 14px;
                }
                .num {
                    line-height: 24px;
                    height: 20px;
                    font-size: 14px;
                }
                .buyed {
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    i {
                        color: $cf-font-red;
                        font-size: 18px;
                        margin-right: 10px;
                    }
                    em {
                        text-decoration: none;
                        color: $cf-font-red;
                        font-size: 18px;
                        font-style: normal;
                    }
                }
                .yi-price {
                    .price-now {
                        border-right: 1px solid #e6e6e6;
                        margin-right: 20px;
                    }
                }
                .maket-price {
                    .price-market {
                        border-right: 1px solid #e6e6e6;
                        margin-right: 20px;
                    }
                }
            }
            .cut-price {
                text-align: right;
                .content {
                    padding-right: 20px;
                    line-height: 40px;
                    margin-top: 11px;
                    margin-bottom: 11px;
                    font-size: 18px;
                    border-right: 1px solid #fff;
                }
            }
            .monthly {
                text-align: left;
                .content {
                    padding-left: 20px;
                    line-height: 40px;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    font-size: 18px;
                }
            }
        }
    }
}
