//slide start
.banner-top {
    .container {
        width: 100%;
    }
    .carousel {
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        i {
            display: none;
        }
        .btn-pn {
            display: none;
            .prev {
                width: 60px;
                height: 87px;
                background: url("../images/prev.png") no-repeat;
                top: 50%;
                margin-top: -43px;
                left: 50%;
                margin-left: -375px;
                display: block;
                position: absolute;
                z-index: 3;
            }
            .next {
                width: 60px;
                height: 87px;
                background: url("../images/next.png") no-repeat;
                top: 50%;
                margin-top: -43px;
                right: 50%;
                margin-right: -550px;
                display: block;
                position: absolute;
                z-index: 3;
            }
        }
        .btn-go {
            margin-top: 310px;
            text-align: center;
            position: absolute;
            z-index: 3;
            width: 100%;
            top: 0;
            li {
                @include inline-block;
                margin: 10px;
                background: url("../images/btn-go-bg.png") no-repeat;
                width: 24px;
                height: 24px;
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                &.on {
                    background: url("../images/btn-go-bg-curr.png") no-repeat;
                }
            }
        }
        ul {
            width: 100% !important;
            li {
                width: 100% !important;
                background-repeat: repeat-x;
                img {
                    display: block;
                    width: 1100px;
                    height: 351px;
                    margin: 0 auto;
                }
            }
        }
    }
}
